.mat-sort-header, ::ng-deep .mdc-data-table__content {
    font-size: var(--common-font-size);
    font-family: var(--common-font-family);
}

.mat-column-name{
    width: 50%;
}

.mat-column-genre{
    width: 20%;
}

.mat-mdc-row .mat-mdc-cell{
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
    font-size: var(--common-font-size);
    font-family: var(--common-font-family);
}

.mat-mdc-paginator, ::ng-deep .mat-mdc-paginator .mat-mdc-select-value, ::ng-deep .mat-mdc-option{
    font-size: var(--common-font-size);
    font-family: var(--common-font-family);
}

.mat-mdc-row:hover .mat-mdc-cell {
    border-color: var(--active-color);
}

.no-data-row{
    height: 50px;
}