<h1>Games</h1>

<div>
    <label for="new-game">Game name: </label>
    <input id="new-game" #gameName />

    <button type="button" class="add-button" (click)="add(gameName.value); gameName.value=''">
        Create game
    </button>
</div>


<ul>
    <li *ngFor="let game of games">
        <div (click)="onSelect(game)">
            <span class="badge">{{ game.id }} </span> {{ game.name }} {{game.genre}} {{game.description}}
            {{game.createdAt}}
            <button type="button" class="delete" title="delete game" (click)="delete(game)">Delete</button>
        </div>
    </li>
</ul>

<app-game-detail [game]="selectedGame"></app-game-detail>