<h2>Games</h2>
<div *ngIf="games?.length; else empty">
    <ul >
        <li *ngFor="let game of games">
            <div (click)="onSelect(game)">
                {{game.name}}
                {{game.genre}}
                {{game.createdAt | date:'shortDate'}}

                <button type="button" class="delete" title="delete game" (click)="deleteGame(game)">Delete</button>
            </div>
        </li>
    </ul>
</div>

<ng-template #empty>
    The game list is empty.
</ng-template>

<app-game-detail [game]="selectedGame"></app-game-detail>