nav {
    --nav-font-size: 24px;
    font-size: var(--nav-font-size);
}

.navbar-brand {
    --navbar-font-size: 32px;
    font-size: var(--navbar-font-size);
}

.nav-link {
    cursor: pointer;
}

.container {
    margin-top: 1%;
    min-height: calc(100vh - 70px);
  }

.footer {
    height: 40px;
    background-color: lightgray;
    margin-top: 5%;
    text-align: center;
  }