@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import url("fonts/ggsans/stylesheet.css");

:root {
    /* Colors. */
    --error-color: #f00;
    --inactive-color: #808080;
    --active-color: #000;
    --link-color: #0000ff;

    /* Fonts. */
    --common-font-size: 20px;
    --common-font-family: "gg sans", Georgia, "Times New Roman", serif;
    --light-bold: 600;
}

body {
    font-size: var(--common-font-size);
    font-family: var(--common-font-family);
}

input,
textarea,
button,
.form-control {
    font-size: var(--common-font-size);
    font-family: var(--common-font-family);
}

.operation-result{
    margin-top: 3%;
 }