.game-list {
    display: inline;
    margin-right: 20px;
}

.game-list-name:hover,
.game-list-name--activated {
    cursor: pointer;
    text-decoration: underline;
}

.game-lists{
    margin-bottom: 2%;
}