<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<targets>

		<target xsi:type="File" name="file" fileName="${basedir}/logs/${shortdate}.log"
		        layout="${date:format=HH\:mm\:ss} ${level:uppercase=true} [${logger:shortName=true}] ${message} ${exception:format=tostring}" />

		<target xsi:type="File" name="jsonFile" fileName="${basedir}/logs/${shortdate}.json">
			<layout xsi:type="JsonLayout" includeAllProperties="true" excludeProperties="json">
				<attribute name="Time" layout="${date:format=HH\:mm\:ss}" />
				<attribute name="Level" layout="${level:upperCase=true}"/>
				<attribute name="Logger" layout="${logger:shortName=true}"/>
				<attribute name="Message" layout="${message}" />
				<attribute name="Exception" layout="${exception:format=tostring}" />
				<attribute name="MessageTemplate" layout="${message:raw=true}" />
				<attribute name="json" encode="false" layout="${event-properties:json}" />
			</layout>
		</target>

		<target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />
	</targets>

	<rules>
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole" final="true" />

		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="System.Net.Http.*" maxlevel="Info" final="true" />

		<logger name="*" levels="Info, Error" writeTo="file" />
		<logger name="*" levels="Debug" writeTo="jsonFile" />
	</rules>
</nlog>