<div *ngIf="gameList">
    <h2>{{gameList.name | uppercase}} details</h2>
    <div class="form-group">
        <label for="name">Name:</label>
        <input id="name" type="text" class="form-control" [(ngModel)]="gameList.name" placeholder="name">
    </div>
    <div class="row">
        <div class=" col-md-1">
            <button type="button" class="btn btn-success" (click)="save()">Save</button>
        </div>
        <div class=" col-md-1">
            <button type="button" class="btn btn-danger" (click)="delete()">Delete</button>
        </div>
    </div>
</div>