<h3>Create game</h3>

<div>
    <form [formGroup]="createGameForm" (ngSubmit)="create()">
        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" type="text" class="form-control" formControlName="name">
        </div>

        <div class="form-group">
            <label for="genre">Genre</label>
            <input id="genre" type="text" class="form-control" formControlName="genre">
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <input id="description" type="text" class="form-control" formControlName="description">
        </div>

        <div class="form-group">
            <label for="gameListName">Game list</label>
            <select id="gameListName" class="custom-select" formControlName="gameListName">
                <option value="" selected>Choose game list</option>
                <option *ngFor="let gameList of gameLists">
                    {{gameList.name}}
                </option>
            </select>
        </div>

        <div>
            <button type="submit" class="btn btn-primary" [disabled]="!createGameForm.valid">
                Create
            </button>
        </div>
    </form>
</div>