<h3>Create game</h3>

<div>
    <form [formGroup]="createGameForm" (ngSubmit)="create()">

        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" type="text" class="form-control" formControlName="name" required>

            <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="alert alert-danger">
                <div *ngIf="name?.errors?.['required']">
                    Name is required.
                </div>

                <div *ngIf="name?.errors?.['alreadyExistName']">
                    Such name already exist.
                </div>

                <div *ngIf="name?.errors?.['maxlength']">
                    Name must not be longer than 75 characters.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <input id="description" type="text" class="form-control" formControlName="description">
        </div>

        <div class="form-group">
            <label for="gameListName">Game list</label>

            <select id="gameListName" class="custom-select" formControlName="gameListName" required>
                <option value="default" selected>Choose game list</option>
                <option *ngFor="let gameList of gameLists">
                    {{gameList.name}}
                </option>
            </select>

            <div *ngIf="gameListName?.invalid && (gameListName?.dirty || gameListName?.touched)"
                class="alert alert-danger">
                <div *ngIf="gameListName?.errors?.['forbiddenName'] || gameListName?.errors?.['required']">
                    Please, select game list.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="downloadLink">Download link</label>
            <input id="downloadLink" type="text" class="form-control" formControlName="downloadLink">

            <div *ngIf="downloadLink?.invalid && !downloadLink?.pristine && (downloadLink?.dirty || downloadLink?.touched)"
                class="alert alert-danger">
                <div *ngIf="downloadLink?.errors?.['isLink']">
                    Please, provide a link.
                </div>
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-primary" [disabled]="!createGameForm.valid">
                Create
            </button>
        </div>

        <div class="form-group operation-result" *ngIf="result">
            <p>{{result}}</p>
        </div>

    </form>
</div>